</div>
</div>
<div id="modal_summary">
    <div class="container">
       <textarea rows="15"id="modal_summary_textarea"></textarea>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="my_script.js"></script>
</body>
</html>