body,html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #DFE2DB;
}
*{
    box-sizing: border-box;
}
.form{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);

}
.form_box{
    padding-top: 50px;
}
label{
    color: white;
}
.response:first-of-type{
    background-color: #4CAF50;
    color: white;
}
.response{
    margin-top: 2%;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 100%;
    padding: 30px;

}
.response:last-of-type{
    margin-bottom: 100px;
}
.response div{
    display: inline-block;
    width: 45%;
}
#modal_summary{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    z-index: 1;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    display: none;
    text-align: center;
}
#modal_summary div{
    position: relative;
    top:50%;
    transform: translate(0,-50%);
}
textarea{
    width: 80%;
}